@charset "UTF-8";

fieldset {
	border: none;
}

body, div, ul, li, dl, dt, ol, h1, h2, h3, h4, h5, h6, 
input, fieldset, legend, p, select, table, th, td, tr,
textarea, button, form {margin: 0; padding: 0;}

body {font:15px "맑은 고딕", 돋움, 굴림; text-align:center; }
ul, ol {list-style-type: none; }
a:link {text-decoration: none; color: #000000; }
a:visited {text-decoration: none; color: #000000; }
a:active {text-decoration: none; color: #000000; }
a:hover {text-decoration: none; color: #000000; }

div {text-align: center;}

button{
            margin-top: 10px;
            margin-bottom: 10px;
            height: 28px;
        }

input{
            width: 250px;
            height: 35px;
            margin-top: 10px;
            margin-bottom: 10px;
        }

a {text-decoration: none;}

strong {margin-right: 198px;}

textarea {
            width: 250px;
            height: 35px;
            margin-top: 10px;
            margin-bottom: 10px;
            text-align: center;
            line-height: 35px;
        }