@charset "UTF-8";

#content{
    width: 1200px;
}




.menuInfo{
    width: 200px;
    float: left;
    margin: 30px 37px 0px 37px;
    text-align: left;
}

.menuImg{
    height: 200px;
    width: 200px;
    border: black solid 1px;
}


.modal-dialog {
	width: 900px;
}

.modal-body{
	padding: 0px 37.5px;
}

.menuText{
	width: 200px;
}




 




