@charset "UTF-8";
/****************************************************************/
/* 초기화 관련 ***************************************************/
/****************************************************************/

/* 여백 초기화 */
body, div, ul, li, dl, dt, ol, h1, h2, h3, h4, h5, h6, 
input, fieldset, legend, p, select, table, th, td, tr,
textarea, button, form, border {margin: 0; padding: 0;}

body {font-size:15px; font-family: "맑은 고딕", 돋움, 굴림; text-align:center; color: #333; background-color: #fff;}

ul, ol	{list-style-type: none; }
a:link {text-decoration: none; color: #000000; }
a:visited {text-decoration: none; color: #000000; }
a:active {text-decoration: none; color: #000000; }
a:hover {text-decoration: none; color: #000000; }

/****************** 공통 ************************/
/* clearfix */
.clearfix{*zoom:1;}
.clearfix:before, .clearfix:after {display: block; content: ""; line-height: 0;}
.clearfix:after {clear: both;}

/* 폼 관련 */
input {padding: 0 10px; height: 40px;}
textarea{padding: 0 10px;}


/* font *(기본값 12px) */
.bold {font-weight: bold; }
.text-xlarge {font-size: 18px; }
.text-large {font-size: 15px; }
.text-small {font-size: 10px; }

.text-right {text-align: right !important;}
.text-left {text-align: left !important;}
.text-center {text-align: center !important;}


/* 위치 */
.float-r {float: right; }
.float-l {float: left; }
.clear{clear: both; }

/* 버튼 공통*/
.btn {
	border: 1px solid #808080; 
	background-color: #DDDDDD;
	/* background-color: #fff;
	border: none;
	border-radius: 0px;
	box-shadow: 1px 1px 2px 1px #ff6001; */
	padding: 5px 15px 5px 15px;
	height: 40px;
}

/* 레이아웃 */
#wrap {width: 1200px; margin: 0px auto; padding: 15px 0; background-color: #FFFFFF; }
#nav { width: 1200px; margin-bottom: 15px; background-color: #FFFFFF; border-bottom: 1px solid #A6A6A6;}
#aside {float: left; width: 250px; margin: 0px 50px 0px 0px; background-color: #FFFFFF; }
#content {float: left; width: 900px; background-color: #FFFFFF; }
#footer {height: 50px; background-color: #DDDDDD;}

/* 해더(header: 로고, 로그인관련 버튼) */
#header	#mainTitle {font-weight: bold;}
#header>form {margin: 0 auto;}
#header ul {position: relative; top: -40px; left: 0;}
#header ul>li {float: left; margin: 0px 0px 0px 10px;}
#searchBox {box-sizing: border-box; margin: 0 0 0 -100px; width: 300px; height: 40px !important; border: 2px solid #ff6001; border-radius: 0px;}
#searchBox-btn {padding: 0px 10px 0px 10px; margin: 0px 0px 0px -55px; width: 55px; height: 40px !important; background-color: #ff6001; border: 2px solid #ff6001;
				border-radius: 0px; color: #ffffff; font-size: 15px !important;}

/* 네비(nav: 메인메뉴) */
#nav-size {width: 880px; margin: 0 auto;}
#nav ul>li {float: left; margin: 15px 0px 15px 0px; width: 220px; font-size: 20px; font-weight: bold;}



/* 푸터(footer) */
#footer {line-height: 50px; margin: 30px 0px 0px 0px; }









