@charset "UTF-8";



#content{
   width: 1200px;
   text-align: center;
}
#content_top{
    border: 1px solid #a6a6a6;
    height: 430px;
    box-sizing: border-box;
   
}

.shopInfo {
    /* border: 1px solid #000; */
    width: 369px;
    height: 360px;
    float: left;
    padding: 15px 15px;
    text-align: left;
}

.img {
    width: 90px;
    height: 90px;
    background-color: #000;
}

img[class="instarimg"] { width: 40px; height: 40px;}

#btn{
    margin: 15px 0;
}

#reviews { margin: 25px 0 25px 0; width: 1200px; border-bottom: 1px solid #a6a6a6;}

.viewpro{
	width: 300px;
}
#reviewInfo { width: 100px;}




#singo {margin-bottom: 25px;}

.viewImg{
    width: 400px;
    float: left;
}


#paging {display: block;}
.paging {margin: 10px auto; width: 186px;}
.paging>li{
    float: left;
    margin: 0 10px 0 0;
}

.modi{
    float: right;
}

.modi>ul>li{
    float: left;
    margin: 0 0 0 10px;
}

.btn_sin{
    margin-top: 90px;
}









ul{margin: 0 0;}