@charset "UTF-8";

/******************** 공통 ********************/
.orange {
	color: coral;
	font-size: 10px;
}

.blue {
	background-color: #ff6001;
	color: white;
	padding: 5px 15px 5px 15px;
	height: 40px;
	border: 0;
	outline: none;
}

.cancle-button {
	padding: 5px 15px 5px 15px;
	height: 40px;
	border: 0;
	outline: none;
}

#ex_file {
	display: none !important;
}

.wrap2 {
	width: 905px;
	margin-left: 300px;
	text-align: left !important;
}

.wrap3 {
	text-align: center !important;
}

.center {
	margin-left: 15px;
}

.b {
	margin-left: -84px;
}

.c {
	margin-left: -134px;
}

.d {
	margin-left: -68px;
}

.e {
	margin-left: -54px;
}

/******************** 로그인 폼 ********************/
#loginForm {
	text-align: center;
}

#loginForm h2 {
	text-align: center;
}

#loginForm button {
	margin: 10px 0;
	height: 40px;
}

#loginForm input {
	margin-top: 10px;
	width: 250px;
	height: 40px;
}

#loginForm ul {
	margin-left: 474px;
	margin-bottom: 30px;
}

.epj li {
	float: left;
	margin-right: 5px;
}

.epj li::after {
	padding-left: 5px;
	content: "|";
}

.epj li:last-child::after {
	content: "";
}

/******************** 회원가입 폼 ********************/
#joinForm {
	text-align: center;
}

#joinForm .margin-bottom {
	margin-bottom: 10px;
	width: 200px;
	height: 40px;
}

#joinForm .margin {
	margin-left: 69.4px;
}

#joinForm span {
	width: 200px;
	text-align: left;
	font-weight: bold;
}

#joinForm .select {
	margin-bottom: 10px;
	width: 200px;
	height: 40px;
}

#joinForm .button {
	height: 40px;
}

/******************** 약관동의 폼 ********************/
#checkTerm {
	text-align: center;
}

#checkTerm p {
	font-weight: bold;
	display: inline-block;
}

#checkTerm input{
	height: 12px !important;
}

#checkTerm div {
	text-align: center;
}

#checkTerm textarea {
	margin-top: 5px;
	height: 100px;
	width: 500px;
	resize: none;
}

#checkTerm button {
	width: 70px;
	height: 40px;
}

#checkTerm .up {
	text-align: center;
	font-size: 25px;
}

#checkTerm .outer {
	text-align: center;
}

#checkTerm .inner {
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
	display: inline-block;
	text-align: center;
	border: 1px solid gray;
	border-radius: 5px;
}

#checkTerm .in {
	text-align: left;
}

/******************** 찾기 폼 ********************/
#find{
	text-align: center;
}

#find button {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}

#find input {
	width: 250px;
	height: 40px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#find a {
	text-decoration: none;
}

#find textarea {
	width: 250px;
	height: 40px;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
	line-height: 35px;
	resize: none;
}

/******************** 수정 폼 ********************/
#modifyForm .out {
	text-align: center;
}

#modifyForm .margin-bottom {
	margin-bottom: 10px;
	width: 200px;
	height: 40px;
}

#modifyForm span {
	font-weight: bold;
}

#modifyForm .select {
	margin-bottom: 10px;
	width: 200px;
	height: 40px;
}

/******************** 가게등록 폼 ********************/
#addshop wrap2 {
	text-align: left;
}

#addShop button {
	margin-top: 10px;
	margin-bottom: 10px;
	height: 40px;
}

#addShop .button {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}

/******************** 단골가게리스트 폼 ********************/
#likeShopList img {
	float: left;
	height: 70px;
	width: 70px;
	margin-right: 10px;
}

#likeShopList div{
	width: 33%;
	display: inline-block;
}

#likeShopList .shop {
	margin-bottom: 10px;
	text-align: left;
}

/******************** 리뷰 폼 ********************/
#review wrap2 {
	text-align: left;
}

#review img {
	height: 70px;
	width: 70px;
	float: left;
	margin-right: 10px;
}

#review span {
	float: right;
	position: relative;
}

#review a {
	text-decoration: none;
}

#review .paging {
	text-align: center;
}